.container {
  display: flex;
  flex-direction: column;
  gap: .6rem;
}

.table {
  border-spacing: 0.5rem;
}

.table > thead > tr > th {
  text-align: start;
}

.filters {
  padding: 1rem 0;
  display: flex;
  gap: 1rem;
}